html,
body {
  scroll-behavior: smooth;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

p {
  margin: 20px;
}

/* NAVBAR */

.fable {
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
  z-index: 500;
  font-size: 18px;
  animation: swipein 1s;
}

@keyframes swipein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

li {
  margin: auto;
  padding: 10px 10px;
}

li a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(231, 238, 170);
  color: black;
  transition: box-shadow 0.3s ease-in;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  padding: 100px;
  text-align: center;
  background: url(images/fablefront.jpg) center center;
  background-size: cover;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px black;
  align-items: center;
  animation: appear 3s;
  height: 500px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.header:hover {
  opacity: 0.85;
  /* box-shadow: 1px 1px 50px 10px rgb(138, 145, 146);
  transition: box-shadow 0.3s ease-in-out; */
}
@keyframes appear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.fable {
  color: white;
}

/* WELCOME LINE */

#welcomeline {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
  text-shadow: 3px 3px rgb(95, 99, 100);
  margin: 0 auto;
  padding: 100px;
  background-color: rgb(151, 136, 134);
  animation: swipe 1s;
  opacity: 0.7;
  transition: box-shadow 0.3s ease-in-out;
}

#welcomeline:hover {
  box-shadow: 0 20px 20px -2px rgb(138, 145, 146);
}

@keyframes swipe {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.intro {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* BIO */

.aboutfable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #e9e6e3;
  width: 100%;
  margin: 40px auto;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.aboutfable:hover {
  box-shadow: 1px 1px 30px 10px rgb(188, 195, 196);
  transition: box-shadow 0.5s ease-in-out;
}

/* QUALIFICATIONS */

.qualifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #e9e6e3;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.qualifications:hover {
  box-shadow: 1px 1px 50px 10px rgb(188, 195, 196);
  transition: box-shadow 0.3s ease-in-out;
}

/* MENU */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #e9e6e3;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

.menu:hover {
  box-shadow: 1px 1px 50px 10px rgb(188, 195, 196);
  transition: box-shadow 0.3s ease-in-out;
}

.menuimage {
  height: 400px;
  width: 500px;
}

.menupics {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
  margin-bottom: 10px;
  background-color: #e9e6e3;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

/* PHOTOSHOVER */

#quotes {
  display: flex;
  flex-direction: row-reverse;
}

.imagehover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #e9e6e3;
  width: 100%;
}

.imgagehover:hover {
  box-shadow: 1px 1px 50px 10px rgb(188, 195, 196);
  transition: box-shadow 2s ease-in-out;
}

/* .container {
position: relative;
  width: 50%;
} */
.imageh {
  display: flex;
  margin-bottom: 30px;
  opacity: 1;
  display: block;
  height: 400px;
  width: 500px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50px;
}

.description {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pics {
  display: flex;
  flex-direction: row;
}

.container:hover {
  opacity: 0.8;
}

.container:hover .description {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

/* SLIDESHOW */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: grey;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* CONTACTFORM */

.questionform {
  display: grid;
  background-color: #e9e6e3;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.questionform:hover {
  box-shadow: 1px 1px 50px 10px rgb(188, 195, 196);
  transition: box-shadow 0.3s ease-in-out;
}

input[type="text"],
select,
textarea {
  margin: auto;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  margin: auto;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #59cefc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #56e2f5;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #333;
  height: auto;
  color: silver;
  border-top: solid 2px gray;
  padding: auto;
  font-size: 18px;
  text-align: center;
}

#check {
}

@media only screen and (max-width: 600px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .complogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
#linktome {
  color: white;
}

#linktome:hover {
  color: rgb(191, 238, 250);
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 5 5 10px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #edf8fc;
  outline: 1px solid rgb(44, 103, 163);
}
